:root {
  --fs-164: clamp(2.81rem, 7.44vi + 1.33rem, 10.25rem);
  --fs-64: clamp(1.88rem, 2.13vi + 1.45rem, 4rem);
  --fs-36: clamp(1.25rem, 1vi + 1.05rem, 2.25rem);
  --fs-32: clamp(1rem, 1vi + 0.8rem, 2rem);
  --fs-24: clamp(1rem, 0.5vi + 0.9rem, 1.5rem);
  --fs-20: clamp(1rem, 0.25vi + 0.95rem, 1.25rem);
  --fs-16: clamp(0.75rem, 0.25vi + 0.7rem, 1rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;

  overflow-x: hidden;
}

.contact_hero_conntainer {
  width: 100vw;
  aspect-ratio: 1920/520;
  /* background-color: red; */
  padding: 10vw 115px;
  font-family: "Campton";
  margin-bottom: 10vw;
}

.heading_container {
  width: 60vw;
}

.contact_hero_conntainer h1 {
  font-size: var(--fs-64);
  font-weight: 500;
}

.Partner_container {
  width: 100vw;
  padding: 20px 115px;
}

.Partner_container h2 {
  font-size: var(--fs-36);
  font-weight: 500;
  font-family: "Campton";
  margin-bottom: 70px;

}

.Partner_container h1 {
  font-size: var(--fs-64);
  font-weight: 500;
  font-family: "Campton";



}

#level_text {
  color: #808080;
}

#link_text {
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 960px) {
  .contact_hero_conntainer {
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .contact_hero_conntainer {
    padding: 30vw 20px;
  }

  .contact_hero_conntainer h1 {
    font-weight: 500;
  }

  .heading_container {
    width: auto;
  }

  .Partner_container {
    padding: 20px 20px;
  }

}

@media screen and (min-width: 640px) and (max-width: 1200px) {
  .contact_hero_conntainer h1 {
    font-weight: 500;
  }

  .heading_container {
    width: auto;
  }

  .contact_hero_conntainer {
    padding: 10vw 60px;
  }

  .Partner_container {
    padding: 20px 60px;
  }

}

/* Phasineted */
.passionate_designer_container {
  width: 100vw;

  padding: 10vw 115px;
  display: flex;
  flex-wrap: nowrap;
  gap: 5vw;
}

.passionate_designer_container figure {
  width: 50vw;
  aspect-ratio: 861/1250;
  border-radius: 8px;
  overflow: hidden;
}

.passionate_designer_container figure>img {
  width: 100%;
  height: 100%;
}

.passionate_designer_container article {
  width: 30%;
}

.passionate_designer_container article h2 {
  font-size: var(--fs-64);
  font-family: Campton;
  font-weight: 500;
  margin-top: 5vw;
}

.passionate_designer_container article p {
  margin-top: 20px;
  font-size: var(--fs-24);
  font-family: Campton;

  color: #808080;
}

.passionate_designer_container article button {
  margin-top: 5vw;
  padding: 24px 30px;
  border-radius: 12px;
  background-color: black;
  color: white;
  font-size: var(--fs-36);
  font-family: Campton;
  border: none;

  outline: none;
}

@media screen and (min-width: 320px) and (max-width: 960px) {
  .passionate_designer_container {
    flex-direction: column;
  }

  .passionate_designer_container figure {
    width: 100%;
  }

  .passionate_designer_container article {
    width: 100%;
  }

  .passionate_designer_container article {
    width: 100%;
  }
}

@media screen and (min-width: 960px) and (max-width: 1800px) {
  .passionate_designer_container article {
    width: 50%;
  }
}

@media screen and (min-width: 640px) and (max-width: 1200px) {
  .passionate_designer_container {
    padding: 100px 60px;
  }

}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .passionate_designer_container {
    padding: 100px 20px;
  }

}

/* join us */

.Join_Us_container {
  width: 100vw;
  aspect-ratio: 1920/881;
  padding: 115px 115px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  font-family: "Campton";
}

.Join_Us {
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3vw;
  align-items: start;
}

.Join_Us h1 {
  font-size: var(--fs-64);
  font-weight: 500;
}

.Join_Us h2 {
  font-weight: 500;
  text-align: center;
  font-size: var(--fs-36);
}

.fable_div {
  border-radius: 8px;
  border: 1px solid black;
  padding: 5vw;
  background-color: #F87498;
}

.fable_div video {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.Keep_up {
  border-radius: 8px;
  border: 1px solid black;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.Keep_up h1 {
  font-size: var(--fs-64);
  font-weight: 500;
}

.Keep_up h2 {
  font-size: var(--fs-36);
  font-weight: 500;
  text-align: center;
}

@media screen and (min-width: 640px) and (max-width: 1200px) {
  .Join_Us_container {
    padding: 60px 60px;
    gap: 20px;
    aspect-ratio: 1920/881;
  }

}

@media screen and (min-width: 320px) and (max-width: 960px) {
  .Join_Us_container {
    padding: 60px 60px;
    gap: 20px;
    aspect-ratio: 390/794;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .Join_Us_container {
    padding: 20px 20px;

  }


}


/* Our Story */

.Our_story {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Campton;


}

.Our_story h2 {
  font-size: var(--fs-36);
  font-weight: 500;
  color: #808080;
}

.Our_story h1 a {
  font-size: var(--fs-64);
  font-weight: 500;
  text-decoration: none;
  color: black;
  text-decoration: underline;


}




/* form */

#scroll-animate {
  overflow: hidden;
}

#scroll-animate-main {
  width: 100%;
  left: 0;
}

#heightPage,
#heightScroll {
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}

#heightPage {
  left: 0;
}

#heightScroll {
  right: 0;
}

.wrapper-parallax {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.form-container-section {
  padding: 20vw 115px;
  border-top: solid 1px #888888;
  background: #fff;
  display: flex;
  align-items: center;
  font-family: Campton;
  font-weight: 500;
  z-index: 2;
  position: relative;
}


.footer-upperline {
  padding-bottom: 60px;
}

.footer-upperline>p {
  font-family: Campton;
  font-weight: 500;
  font-size: var(--fs-24);

}

#footer_container {
  width: 100%;
  position: relative;

}

.footer {
  font-family: Campton;

  text-align: left;
  position: relative;
}

::placeholder {
  color: #888888cc;
}

::-ms-input-placeholder {
  color: #888888cc;
}

.footer_p {
  color: #000;
  font-size: var(--fs-64);

}

.footer_p span>input {
  color: #757575;
  font-family: Campton;
  font-size: var(--fs-36);
  font-weight: 500;
  background-color: transparent;
  border: none;
  border-bottom: 1.56px solid black;
  text-align: center;
  outline: none;
  cursor: pointer;
  text-align: start;
  padding-top: 10px;
}

.footer_p span>textarea {
  width: 100%;
  min-height: 50px;
  max-height: 100px;
  color: #757575;
  font-size: var(--fs-36);
  font-family: Campton;
  font-weight: 500;
  background-color: transparent;
  border: none;
  border-bottom: 1.56px solid black;
  text-align: left;
  outline: none;
  cursor: pointer;
  resize: none;
  padding-top: 50px;
}

.footer_p span>textarea::-webkit-scrollbar {}

.footer_bt {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.socialmedia_icon {
  color: #000;
  font-size: var(--fs-36);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 70px;
}

textarea::-webkit-input-placeholder {
  position: relative;
  bottom: 10px;
  left: 0px;
}

.socialmedia_icon p span {
  padding-right: 69px;
}

.socialmedia_icon p span a {
  text-decoration: none;
  cursor: pointer;
  color: #000 !important;
}

.footer_bt button {
  border-radius: 12px;
  border: 1px solid #000;
  background: #000;
  padding: 24px;
  color: #fff;
  font-size: var(--fs-36);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.alert-box {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  width: 80vw;
  height: 50vh;
  border-radius: 10px;
  color: rgba(136, 136, 136, 0.8);
  font-size: var(--fs-36);
  font-family: Campton;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10px;
  position: relative;
}

.close-btn {
  cursor: pointer;
  position: absolute;

  top: 10px;
  right: 10px;
}

.gmail_box {
  width: 800px;
}

.Submit_form_text {
  width: 50vw;
  position: absolute;
  top: 50%;

  left: 50%;
  transform: translate(-50%, -50%);
}

#Submit_form_socialmedia_Icon {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .footer-upperline {
    padding-bottom: 22px;
    padding-top: 30px;
  }

  .form-container-section {
    padding: 0px 20px;
    height: auto;
    display: flex;
    gap: 30px;
  }

  #footer_container {
    padding-bottom: 30px;
  }

  .footer_p {
    color: #000;

  }

  .footer_p span>input {

    width: 100%;
  }

  .footer_bt button {

    padding: 10px 35px;
    border-radius: 4px;
  }

  .socialmedia_icon p span {
    padding-right: 7px;
  }

  #nameuser {
    width: 250px;
  }
}

@media screen and (min-width: 640px) and (max-width: 1200px) {
  .footer-upperline {
    padding-bottom: 40px;
  }

  .form-container-section {
    padding: 0px 60px;
    height: 70vh;
  }

  .footer_p span>textarea {

    padding-top: 30px;
  }

  .socialmedia_icon p span {
    padding-right: 33px;
  }

  .footer_p span>input {

    width: fit-content;
  }
}